.defaultTile {
  position: relative;
}

.defaultPaginationClass[role="navigation"] {
  position: absolute;
  text-align: center;
  left: 10px;
  right: 10px;
  bottom: 0px;
}

.defaultPaginationClass[role="navigation"] button {
  display: inline-block;
  border: 0;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background: white;
  margin: 0 2px;
  text-indent: 1000px;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  transition: all .3s;
}

.defaultPaginationClass[role="navigation"] button[data-active='true'] {
  background: orange;
}

.defaultArrowPrevClass,
.defaultArrowNextClass {
  position: absolute;
  font-size: 16px;
  border: 0;
  outline: none;
  top: 45%;
  cursor: pointer;
  transition: all .3s;
  padding: 0;
  color: orange;
  font-family: Arial;
  background: none;
}


.defaultArrowPrevClass:disabled,
.defaultArrowNextClass:disabled {
  opacity: .2;
  cursor: default;
}

.defaultArrowPrevClass {
  left: 5px;
}
.defaultArrowPrevClass::before {
  content: "\25C0";
}

.defaultArrowNextClass {
  right: 5px;
}
.defaultArrowNextClass::before {
  content: "\25b6";
}
